# Pandas
Pandas es una librería de Python especializada en el manejo y análisis de estructuras de datos. El nombre viene de “Panel data”.

- Velocidad
- Poco código
- Múltiples formatos de archivos
- Alineación inteligente

### Pandas Series
Es muy parecido a un array de una dimensión (o vector) de NumPy.

- Arreglo unidimensional indexado
- Búsqueda por índice
- Slicing
- Operaciones aritméticas
- Distintos tipos de datos

### Pandas DataFrame
Muy parecido a las estructuras matriciales trabajadas con NumPy.

- Estructura principal
- Arreglo de dos dimensiones
- Búsqueda por índice (columnas o filas)
- Slicing
- Operaciones aritméticas
- Distintos tipos de datos
- Tamaño variable

## Series
Es un arreglo unidimensional indexado

In [16]:
import numpy as np
import pandas as pd

Definiendo una lista con índices específicos

In [7]:

psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'], index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object


Búsqueda por índices

In [4]:

dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
psg_players[7]

'Mbappe'


Búsqueda mediante Slicing

In [8]:

psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object


Similar a la estructura matricial

In [10]:

dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
        'Altura':[183.0, 170.0, 170.0, 163.0],
        'Goles':[2, 200, 150, 500]}
df_players = pd.DataFrame(dict, index=[1,7,10,30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    150
30   Messi   163.0    500

Búsqueda por índices. Columnas

In [11]:

df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

Búsqueda por índice.

In [12]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

### Ejemplo con otro Dataframe
#### Granada F.C.

In [15]:
granada={'Jugador':['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano'],
        'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
        'Número':[9, 23, 10, 6, 5, 1],
        'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
        'Goles':[7, 7, 5, 2, 2, 0]}
granada=pd.DataFrame(granada, index=granada['Número'])
granada

                          Jugador        Posición  Número  Altura  Goles
9                     Luis Suárez       Delantero       9   185.0      7
23                   Jorge Molina       Delantero      23   187.0      7
10                Antonio Puertas  Centrocampista      10   185.0      5
6                  Germán Sánchez         Defensa       6   187.0      2
5                      Luis Milla  Centrocampista       5   175.0      2
1   Luís Manuel Arantes Maximiano         Portero       1   190.0      0

In [18]:
np.max(granada["Goles"])

7

In [24]:
condition=granada["Altura"]>=187
condition

9     False
23     True
10    False
6      True
5     False
1      True
Name: Altura, dtype: bool

In [25]:
granada[condition]

                          Jugador   Posición  Número  Altura  Goles
23                   Jorge Molina  Delantero      23   187.0      7
6                  Germán Sánchez    Defensa       6   187.0      2
1   Luís Manuel Arantes Maximiano    Portero       1   190.0      0